.show--answer {
    min-width: 9vw;
    height: 6vh;
    border-radius: 10%;
    background-color: rgb(206, 123, 233);
    color:rgb(255, 255, 255);
    font-size: 1.1rem;
    text-shadow: var(--text-shadow);
}

.show--answer:hover{
    background-color: aqua;
    min-width: 9.2vw;
    height: 6.2vh;

}