footer {
    display: flex;
}


nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    border: 2px solid grey;
    bottom: 0rem;
    min-height: 7vh;
    width: 100vw;
    z-index: 10;
    background-color: aqua;
}


.nav--icon {
    width: 4rem;
}

