.card--profile{
    position: relative;
    display: flex;
    width: 80vw;
    min-height: 50vh;
    background-color: darkorange;
    box-shadow: 3px 3px 3px darkblue;
    
    
}

.profile--pic{
    width: 8rem;
    border-radius: 75%;
    position: absolute;
    left: 2%;
    top: 1%
}

.profile--name{
    position: absolute;
    left: 15%;
    top: 20%;
    font-size: 3.5rem;
    font-weight: 150;
}

.profile--card--header{
    position: absolute;
    bottom: 24%;
    
}

.profile--card--paragraph{
    position: absolute;
    bottom: 5%;
    font-size: 1.1rem;
    
}
